# Ignore virtual environment
venv/

# Ignore macOS proprietary file
.DS_Store

# Ignore production-set environment variables
.env

# Ignore __pychache__/
__pycache__/

# Ignore production DB
histobowl.db