{% extends "base.html" %}

{% block title %}Match Data Input Page | HistoBowl{% endblock %}

{% block content %}
<h1>Match Data Input Page</h1>
<form method="POST" action="/add-match">
  <label for="tournament_id">Tournament ID:</label><br>
  <input type="number" id="tournament_id" name="tournament_id" required><br><br>

  <label for="match_number">Match Number:</label><br>
  <input type="number" id="match_number" name="match_number" min="1" required><br><br>

  <label for="player1_name">Player 1 Name:</label><br>
  <input type="text" id="player1_name" name="player1_name" required><br><br>

  <label for="player1_seed">Player 1 Seed:</label><br>
  <input type="number" id="player1_seed" name="player1_seed"><br><br>

  <label for="player1_score">Player 1 Score:</label><br>
  <input type="number" id="player1_score" name="player1_score"><br><br>

  <label for="player2_name">Player 2 Name:</label><br>
  <input type="text" id="player2_name" name="player2_name" required><br><br>

  <label for="player2_seed">Player 2 Seed:</label><br>
  <input type="number" id="player2_seed" name="player2_seed"><br><br>

  <label for="player2_score">Player 2 Score:</label><br>
  <input type="number" id="player2_score" name="player2_score"><br><br>

  <label for="winner_name">Winner Name:</label><br>
  <input type="text" id="winner_name" name="winner_name"><br><br>

  <button type="submit">Submit Match</button>
</form>
{% endblock %}