{% extends "base.html" %}

{% block title %}Tournament Data Input Page | HistoBowl{% endblock %}

{% block content %}
<h1>Tournament Data Input Page</h1>
<form method="POST" action="/add-tournament">
  <label for="event">Event Name:</label><br>
  <input type="text" id="event" name="event" required><br><br>

  <label for="airdate">Airdate:</label><br>
  <input type="text" id="airdate" name="airdate"><br><br>

  <label for="prelim_dates">Prelim Dates:</label><br>
  <input type="text" id="prelim_dates" name="prelim_dates"><br><br>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br><br>

  <label for="oil">Oil Pattern:</label><br>
  <input type="text" id="oil" name="oil"><br><br>

  <label for="winner">Winner:</label><br>
  <input type="text" id="winner" name="winner"><br><br>

  <label for="prize_money">Prize Money:</label><br>
  <input type="text" id="prize_money" name="prize_money"><br><br>

  <label for="season">Season:</label><br>
  <input type="text" id="season" name="season"><br><br>

  <label for="format">Format:</label><br>
  <select id="format" name="format" required>
    <option value="stepladder-5">5-Man Stepladder</option>
    <option value="stepladder-8">8-Man Stepladder</option>
    <option value="stepladder-9">9-Man Stepladder</option>
    <option value="bracket-4">4-Man Bracket</option>
    <option value="24-elias">2024 Elias</option>
    <option value="new-masters">New Masters</option>
    <option value="jr">Junior Championships</option>
    <option value="24-skills">2024 Skills Challenge</option>
    <option value="24-legacy-cup">2024 Legacy Cup</option>
    <option value="24-nascar">2024 NASCAR Invitational</option>
    <option value="bo5">Best-of-5</option>
    <option value="luci">Luci</option>
    <option value="new-strike-derby">New Strike Derby</option>
    <option value="24-playoffs">2024 Playoffs</option>
    <option value="playoffs-12">12-Man Playoffs</option>
    <option value="new-tour-finals">New Tour Finals</option>
    <option value="bracket">Bracket</option>
    <option value="standings">Standingd</option>
    <option value="other">Other</option>
  </select><br><br>

  <button type="submit">Submit Tournament</button>
</form>
{% endblock %}